.colorlib-project
  .container
     
    .row
      .col-md-4.animate-box
        .project-entry
          a.project-img.text-center(href='#', style='background-image: url(images/building-1.jpg);')
            span.icon
              i.icon-search2
          .desc
            h3
              a(href='#') Apartment Interior Design
      .col-md-4.animate-box
        .project-entry
          a.project-img.text-center(href='#', style='background-image: url(images/building-2.jpg);')
            span.icon
              i.icon-search2
          .desc
            h3
              a(href='#') Office Space
      .col-md-4.animate-box
        .project-entry
          a.project-img.text-center(href='#', style='background-image: url(images/building-3.jpg);')
            span.icon
              i.icon-search2
          .desc
            h3
              a(href='#') Condo Building
      .col-md-4.animate-box
        .project-entry
          a.project-img.text-center(href='#', style='background-image: url(images/building-4.jpg);')
            span.icon
              i.icon-search2
          .desc
            h3
              a(href='#') Kitchen Interior
      .col-md-4.animate-box
        .project-entry
          a.project-img.text-center(href='#', style='background-image: url(images/building-5.jpg);')
            span.icon
              i.icon-search2
          .desc
            h3
              a(href='#') Commercial Building
      .col-md-4.animate-box
        .project-entry
          a.project-img.text-center(href='#', style='background-image: url(images/building-6.jpg);')
            span.icon
              i.icon-search2
          .desc
            h3
              a(href='#') Hotel Building
      .col-md-4.animate-box
        .project-entry
          a.project-img.text-center(href='#', style='background-image: url(images/building-7.jpg);')
            span.icon
              i.icon-search2
          .desc
            h3
              a(href='#') Hotel Building
      .col-md-4.animate-box
        .project-entry
          a.project-img.text-center(href='#', style='background-image: url(images/building-8.jpg);')
            span.icon
              i.icon-search2
          .desc
            h3
              a(href='#') Hotel Building
      .col-md-4.animate-box
        .project-entry
          a.project-img.text-center(href='#', style='background-image: url(images/building-9.jpg);')
            span.icon
              i.icon-search2
          .desc
            h3
              a(href='#') Hotel Building
      .col-md-4.animate-box
        .project-entry
          a.project-img.text-center(href='#', style='background-image: url(images/building-10.jpg);')
            span.icon
              i.icon-search2
          .desc
            h3
              a(href='#') Hotel Building
      .col-md-4.animate-box
        .project-entry
          a.project-img.text-center(href='#', style='background-image: url(images/building-11.jpg);')
            span.icon
              i.icon-search2
          .desc
            h3
              a(href='#') Hotel Building
      .col-md-4.animate-box
        .project-entry
          a.project-img.text-center(href='#', style='background-image: url(images/building-12.jpg);')
            span.icon
              i.icon-search2
          .desc
            h3
              a(href='#') Hotel Building
             
         
