footer#colorlib-footer
  .contact-information
    .container
      .row
        .col-md-8.col-md-offset-2
          .row
            .col-md-6.text-center
              .info-wrap
                span.icon
                  i.fa.fa-envelope
                p
                  a(href='#') fayez01281030430@gmail.com
                  br
            .col-md-6.text-center
              .info-wrap
                span.icon
                  i.fa.fa-phone
                p
                  a(href='#')  01128490993
                  br
  .container
    .row.row-pb-md
      .col-md-6.colorlib-widget
        h4 About US
        p
          | Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills,
        p
        ul.list-unstyled.colorlib-social-icons
          li
            span
              a(href='https://twitter.com/Fayez93030646')
                i.fa.fa-twitter
          li
            span
              a(href='https://www.facebook.com/profile.php?id=100005735115317')
                i.fa.fa-facebook
          li
            span
              a(href='https://www.linkedin.com/in/fayez-heshmat-40a769192')
                i.fa.fa-linkedin
          li
            span
              a(href='https://www.instagram.com/fayez5065/')
                i.fa.fa-instagram
        p
      .col-md-6.col-md-push-1.colorlib-widget
        h4 Contact Info
        ul.colorlib-footer-links
          li
            a(href='#')
              i.fa.fa-phone
              |  01128490993
          li
            a(href='')
              i.fa.fa-envelope
              | fayez01281030430@gmail.com
  .copy
    .container
      .row
        .col-md-12.text-center
          p
            small.block
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              | Copyright ©
              script.
                document.write(new Date().getFullYear());
              |  All rights reserved Powered By by Design Time
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
