nav.navbar.navbar-inverse
  .container
    .container-fluid
      .navbar-header
        a.navbar-brand(href='#')
          span Fayez
      ul.nav.navbar-nav.navbar-right
        li
          a(href='homepage.html') HOME
        li
          a(href='#') SERVECES
        li
          a(href='about.html') ABOUT
        li
          a(href='#') FAQ
        li
          a(href='contact.html') CONTACT
