- var pageTitle='About';
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/style
    body
        include pug/layout/navbar
        div about
        
        include pug/layout/footer
        include pug/layout/script